@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
// Fuentes
$fuente_secundaria: 'Fraunces', serif;
$fuente_principal: 'Montserrat', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish: hsl(228, 12%, 48%);
$white: #ffff;

$separacion: 5rem;

// Fuentes
$regular : 500;
$bold: 700;